threads 1,8
workers 3
preload_app!
daemonize
bind 'tcp://0.0.0.0:{{ laclasse_portail_port }}'
environment '{{ laclasse_environment }}'
directory '/home/{{ laclasse_portail_deploy_user }}/laclasse-portail/'
pidfile '{{ laclasse_pid_dir }}/laclasse-portail/puma.pid'
state_path '{{ laclasse_pid_dir }}/laclasse-portail/puma.state'
activate_control_app 'tcp://0.0.0.0:{{ laclasse_portail_port + 1 }}', { auth_token: '{{ laclasse_puma_auth_token }}' }
stdout_redirect '{{ laclasse_log_parent_dir }}/laclasse-portail/puma.log', '{{ laclasse_log_parent_dir }}/laclasse-portail/puma_error.log', true
tag 'puma-laclasse-portail'
