{
  "portail": {
    "description": "{{ laclasse_services.portail.description }}",
    "title": "{{ laclasse_services.portail.title }}",
    "app_id": "{{ laclasse_services.portail.app_id }}",
    "path": "{{ laclasse_services.portail.path }}",
    "version": {
      "asked": {{ laclasse_portail_version }}",
      "current": "{{ git_tag.stdout }}"
    }
  }
}
